/* CSS da Lista de Usuários para Pagamento */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

main { 
    background: #001d3d;
    width: 100%;
}

#containerMain {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex-flow: wrap;
}

.containerMain- { 
    transition: 0.3s;
}

.containerMain-open {
    filter: blur(5px) grayscale(50%);
    pointer-events: none;
    user-select: none;
}

header {
    height: 5%;
    width: 100%;
    top: 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000814;
    color: #fff;
    
}

header button {
    width: 110px;
    background: green;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}

header button:hover {
    background-color: rgb(6, 100, 6);
}

header p {
    font-size: 16px;
    margin-right: 20px;
}

.container {
    background-image: linear-gradient(#171769, #171769);
    margin-top: 0.063rem;
    align-items: center;
    padding: 1.25rem;
    box-shadow: 0px 0px 16px black;
    width: 30%;
    margin-left: 10px;
    
}


.content {
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    box-shadow: #001d3d;
}

.content button {
        width: 6rem;
        height: 2.5rem;    
}

.thumbnail {
    border-radius: 50%;
    margin-right: 1.25rem;
}

.infos {
    margin-right: auto;
}

.infos p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #FFF;
}

button {
    width: 5rem;

    padding: 0.25rem 0.438rem;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    
    border-radius: 20px;
    cursor: pointer;    

}

button:hover {
 background-color: #C2CBD0;   
}


/* CSS dos Modals */

.abrirModal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    right: 'auto';
    bottom: 'auto';
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 310px;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    border: 1px solid;
    border-radius: 35px;
    border-color: #ffffff;
    box-shadow: 2px 2px 5px #ccc;
}

#modalConcluido {
    background: green;
}

#modalNaoConcluido {
    background: red;
}

.cabecalho-modal {
    display: flex;
    align-items: center;
    width: inherit;
    justify-content: center;
}

.closeModal { 
    position: absolute;
    right: 25px;

    cursor: pointer;
}

.modal-body {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.modal-body .abrirModal input {
    width: 50%;
    height: 22px; 
    border-radius: 5px;
    padding: 0 10px;

}

.modal-body .texto-cabecalho-modal {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #554F61;
    color: #FFFFFF;
    padding: 10px;
    width: 94%;
    margin-top: 0%;
    align-content: center;
    font-weight: bold;
}

.modal-body .texto-cabecalho-modal span {
    color: #C8D63C;
    font-weight: bold;
}

.abrirModal select {
    width: 57%;
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    padding: 0 10px;
}

.abrirModal .container-button {
    width: 100%;
    column-gap: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abrirModal .container-button #button-cancelar {
    background-color: #DE3F3A;

}


.abrirModal .container-button #button-pagar {
    background-color: rgb(44, 116, 44);
}

.abrirModal .container-button #button-pagar:hover {
    background-color: rgb(6, 100, 6);
}


.abrirModal .container-button #button-cancelar:hover {
    background-color: #C43834;   
}

.abrirModal button {
    width: 30%;
    margin-bottom: 10px;
}

.abrirModal p {
    text-align: center;
}

.valorInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.valorInput p {
    margin: 0;
    color: red;
    font-weight: bold;
    margin-top: 2%;
}

/* Media Queries */


@media screen and (max-width: 412px) and (min-width: 391px) {

    header button {
        width: 70px;
        font-size: 14px
    }

    header p {
        right: 20px;
        font-size: 10px;
    }

    .container {
        width: 100%;
        margin-left: 0;
    }

    .abrirModal {
        height: 250px;
    }

    .closeModal { 
        
        right: 15px;
    
        cursor: pointer;
    }

    .thumbnail {
        width: 75px;
    }

    .infos p {
        font-size: 15px;
    }
}

@media screen and (max-width: 390px) and (min-width: 376px) {

    header button {
        width: 70px;
        font-size: 14px
    }

    header p {
        right: 20px;
        font-size: 10px;
    }

    .container {
        width: 100%;
        margin-left: 0;
    }

    .abrirModal {
        height: 250px;
    }

    .closeModal { 
        
        right: 15px;
    
        cursor: pointer;
    }

    .thumbnail {
        width: 75px;
    }

    .infos p {
        font-size: 15px;
    }
}

@media screen and (max-width: 375px) and (min-width: 361px) {

    header button {
        width: 70px;
        font-size: 14px
    }

    header p {
        right: 20px;
        font-size: 10px;
    }

    .container {
        width: 100%;
        margin-left: 0;
    }

    .abrirModal {
        height: 250px;
    }

    .closeModal { 
        
        right: 15px;
    
        cursor: pointer;
    }

    .thumbnail {
        width: 75px;
    }

    .infos p {
        font-size: 15px;
    }
}

@media screen and (max-width: 360px) and (min-width: 280px) {

    header button {
        width: 70px;
        font-size: 14px
    }

    header p {
        right: 20px;
        font-size: 10px;
    }

    .container {
        width: 100%;
        margin-left: 0;
    }

    .abrirModal {
        height: 250px;
    }

    .closeModal { 
        
        right: 15px;
    
        cursor: pointer;
    }
    
    .thumbnail {
        width: 60px;
    }

    .infos p {
        font-size: 10px;
    }

    button {
        font-size: 10px;
    }
}

@media screen and (min-width: 1200px) {
 

    .content button {
        width: 8rem;
        height: 2.5rem;    
    }
    
    .abrirModal {
        width: 430px;
        height: 306px;

        
    }

    .abrirModal input {
        width: 60%;     width: 66%;

        height: 22px; 
        
    }

    .abrirModal select {
        width: 70%; 
    }

}

@media screen and (max-width: 1200px) {

    .container {
        width: 100%;
        margin-left: 0;
        padding: 0 20px;
    }

    .content {
        justify-content: center;
    }

    .infos {
        margin: 0 20px 0 10px;
    }


    .abrirModal {
        height: 250px;
    }

    .closeModal { 
        
        right: 15px;
    
        cursor: pointer;
    }
}

